:root {
	--text-color: rgb(37, 37, 37);
	--lavender-light: #d4abe2;
	--lavender: #af75c3;
	--lavender-dark: #744384;
	--lavender-darker: #522e5e;
	--card-bg: #eeeeee;
	--card-padding: 1.5rem;
	--section-padding: 2rem;
	--border-color: rgb(132, 132, 132);
}

* {
	box-sizing: border-box;
}

html {
	font-family: sans-serif;
}

body {
	margin: 0;
	background-color: #fafafa;
	color: var(--text-color);
}

.wrapper {
	max-width: 640px;
	padding: 0 var(--section-padding);
	margin: 2rem auto;
}

.wrapper--grid {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

iframe {
	display: none !important;
}
