.chart-bar {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	height: 10rem;
	flex-shrink: 0;
}

.chart-bar__inner {
	position: relative;
	height: 100%;
	width: 0.75rem;
	border: 1px solid var(--lavender-darker);
	border-radius: 100px;
	background-color: var(--lavender-light);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.chart-bar__fill {
	position: absolute;
	inset: auto 0 0 0;
	background-color: var(--lavender-dark);
	transition: all 0.3s ease-out;
}

.chart-bar__label {
	font-size: 0.65rem;
	text-align: center;
}
