@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

:root {
	--text-color: rgb(37, 37, 37);
	--lavender-light: #d4abe2;
	--lavender: #af75c3;
	--lavender-dark: #744384;
	--lavender-darker: #522e5e;
	--card-padding: 1.5rem;
	--section-padding: 2rem;
	--border-color: rgb(132, 132, 132);
}

* {
	box-sizing: border-box;
}

html {
	font-family: 'Noto Sans JP', sans-serif;
}

body {
	margin: 0;
	background-color: #fafafa;
	color: var(--text-color);
}

.wrapper {
	max-width: calc(1000px + (var(--section-padding) * 2));
	padding: 0 var(--section-padding);
	margin: 0 auto;
}

iframe {
	display: none !important;
}
