.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    padding: .5rem 1rem;
    background-color: var(--rust);
    border: none;
    border-radius: 9999px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    transition: color .3s ease, background-color .3s ease, border-color .3s ease;
}

.button--border {
    background-color: transparent;
    border: 2px solid var(--rust);
    color: var(--rust);
}

@media (hover: hover) {
    .button:hover {
        background-color: var(--red);
    }

    .button--border:hover {
        border-color: var(--red);
        color: white;
    }
}

@media (min-width: 64em) {
    .button {
        padding: 1rem 2rem;
        font-size: 1.125rem;
    }
}